row_constraints = [[3,6],
                   [2,3,3],
                   [1,2,3],
                   [2,5,2],
                   [1,2,2,2],
                   [2,1,1,2],
                   [1,1,1,2],
                   [2,1,2,2],
                   [2,1,2,1],
                   [2,2,3,1],
                   [2,4,2],
                   [2],
                   [3,1,1],
                   [3,3,2],
                   [6,3]
                   ]
col_constraints = [[3,6],
                   [2,9],
                   [1,3,2],
                   [2,2],
                   [2,4,1],
                   [1,2,2,1],
                   [2,1,1,1],
                   [1,1,1,1],
                   [1,1,2,1],
                   [1,1,3,1],
                   [1,8,1],
                   [2,2,1,1],
                   [2,1,1,1],
                   [8,2],
                   [6,3]]

Lock:
    R = 9
    C = 5
  const default_row = [
      [3],
      [1, 1],
      [1, 1],
      [1],
      [5],
      [2, 2],
      [5],
      [5],
      [3]
  ];
  const default_col = [
      [2, 4],
      [1, 5],
      [1, 1, 3],
      [1, 5],
      [7]
  ];

Iron:
    R = 5
    C = 7
    const default_row = [
        [4],
        [1],
        [5],
        [1,1],
        [7]
    ];
    const default_col = [
        [1],
        [2],
        [1,1],
        [1,1,1],
        [1,1,1],
        [1,1,1],
        [5]
    ];


Trophy Cup
    R = 10
    C = 10
    row_constraints = [[10], [1,2,2,1], [1,2,2,1], [1,2,2,1], [3,3], [4], [2], [2], [4], [6]]
    col_constraints = [[4], [1,1], [5,1], [6,2], [1,5], [1,5], [6,2], [5,1], [1,1], [4]]

Cat
    R = 10
    C = 18
    row_constraints = [[6], [2,3], [2,2], [2,1,2], [2,3,3,1], [2,1,2,3,1,1], [1,1,2,4,1], [1,2,1], [4,2,2], [14]]
    col_constraints = [[4], [2,1], [1,1,1], [1,2], [2,1], [2,1], [3,2,1], [2,5], [2,2,2], [1,1,1], [1,2,1], [1,1,1], [1,2,1], [2,1,1], [1,1,1], [2,2,1], [2,2], [6]]